.salee-form{
    width: 50%;
    margin:0 auto;
  
  }

  .card {
    display:inline-block;
    margin: auto;
    height: auto;
    width: 20%;
    background-color: darkgray;
  
  }

  .card-img-top{
    height: 210px;
  }